src/main/app/jarris/httpfileupload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
    <http:listener-config name="HTTP_Listener_Configuration2" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration" basePath="Mybasepath"/>
    <flow name="httpfileuploadFlow">
        <http:listener config-ref="HTTP_Listener_Configuration2" path="/" doc:name="HTTP" parseRequest="false"/>
        <logger level="INFO" doc:name="Logger"/>
        <set-attachment attachmentName="multipartFile"   doc:name="Attachment" contentType="multipart/x-zip" value="multipartFile"/>
        <file:outbound-endpoint path="D:\Mule\output1" responseTimeout="10000" doc:name="File" outputPattern="file.txt"/>
        <logger level="INFO" doc:name="Logger" message="#[message.inboundAttachments]"/>
        <set-payload value="#[payload]" encoding="GB18030" doc:name="Set Payload"/>
    </flow>
</mule>
