src/main/app/jarris/soapwebservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd">
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="src/main/resources/service/UploadPdfServiceImpl1.wsdl" service="UploadPdfServiceImpl" port="UploadPdfServiceImplPort" serviceAddress="http://localhost:8080/group-vtc-service-prd/webservice/UploadPdfServiceImpl" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="Web_Service_Consumer1" wsdlLocation="src/main/resources/service/UploadPdfServiceImpl1.wsdl" service="UploadPdfServiceImpl" port="UploadPdfServiceImplPort" serviceAddress="http://localhost:8080/group-vtc-service-prd/webservice/UploadPdfServiceImpl" doc:name="Web Service Consumer"/>
    <flow name="soapwebserviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/webservice/*" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message metadata:id="9127a38b-7a79-403f-ac7c-2ff674d997bc" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://business.vtcsvc.chinasofti.com/
---
{
	ns0#uploadPdf: {
		pdfFile:payload.pdfFile,
		customerNumber: payload.customerNumber,
		fileId:payload.fileId,
		fileType:payload.fileType
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>

        <ws:consumer config-ref="Web_Service_Consumer1" operation="uploadPdf" doc:name="Web Service Consumer"/>


    </flow>
</mule>
