src/main/app/jarris/UploadToFtp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
    <ftp:connector doc:name="FTP" name="FTP"></ftp:connector>
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration11" port="10011"></http:listener-config>
    <flow name="main"> 
        <http:listener config-ref="HTTP_Listener_Configuration15" doc:name="Receive HTTP Requests" metadata:id="d41f5fe4-982b-4458-84cf-9fcaa1190228" path="/ftp"></http:listener>  
        <dw:transform-message doc:name="JSON to XML" metadata:id="858c1887-e0e5-4366-bcad-5554e43679f7"> 
            <dw:input-payload doc:sample="json.json"></dw:input-payload>  
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml encoding="UTF-8"
---
employees: {
	(payload.employees.employee map {
		employee: {
			name: $.name,
			lastName: $.lastName,
			addresses: {
				($.addresses.address map {
					address: $
				})
			}
		}
	}
)
}
]]></dw:set-payload>  
        </dw:transform-message>  
        <ftp:outbound-endpoint connector-ref="FTP" doc:name="Upload to FTP" host="10.100.40.209" outputPattern="muleExample.xml" password="vtm_share" path="/uftp" port="21" responseTimeout="10000" user="vtm_share"></ftp:outbound-endpoint>  
    </flow>
</mule>