src/main/app/jarris/uploadFile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
 <set-property propertyName="MULE_ENCODING" value="UTF-8" doc:name="Property" />
<http:listener-config name="HTTP_Listener_Configuration5" host="0.0.0.0" port="8088" basePath="file" doc:name="HTTP Listener Configuration"/>
<flow name="simpletestFlow">
<http:listener config-ref="HTTP_Listener_Configuration5" path="/" doc:name="HTTP"/>
        <logger message="#[message.inboundAttachments.entrySet()]" level="INFO" doc:name="Logger"/>
<foreach collection="#[message.inboundAttachments]" doc:name="For Each" doc:description="#[message.inboundAttachments]">
            <logger message="#[payload.dataSource.part.fileName]" level="INFO" doc:name="Logger"/>
<file:outbound-endpoint path="D:\Mule\output1" connector-ref="File" responseTimeout="10000" doc:name="File" outputPattern="#[payload.dataSource.part.fileName]"/>
</foreach>
        <set-payload value="#[message]" encoding="GB18030" mimeType="application/json" doc:name="Set Payload"/>
</flow>
</mule>