src/main/app/jarrisapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="db" host="127.0.0.1" port="1521" instance="orcl" user="vtm" password="123456" doc:name="Oracle Configuration"/>
    <db:oracle-config name="Oracle_Configuration1" host="127.0.0.1" port="1521" instance="orcl" user="vtm" password="123456" doc:name="Oracle Configuration"/>
    <http:request-config name="HTTP_Request_Configuration2" host="127.0.0.1" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="jarrisapiFlow">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/jarris/*" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="output" value="json"/>
                <http:header headerName="charset" value="utf-8"/>
                <http:header headerName="code" value="008"/>
            </http:response-builder>
        </http:listener>
        <logger level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties,'http.request.path'=='/db']">
                <db:select config-ref="Oracle_Configuration1" doc:name="Database1">
                    <db:parameterized-query><![CDATA[select NAME from dicttype]]></db:parameterized-query>
                </db:select>
                <json:object-to-json-transformer encoding="GB18030" mimeType="application/json" doc:name="Object to JSON"/>
            </when>
            <otherwise >
                <db:select config-ref="db" doc:name="Database2">
                    <db:parameterized-query><![CDATA[select * from dict]]></db:parameterized-query>
                </db:select>
                <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>
            </otherwise>
        </choice>
    </flow>
</mule>
