src/main/app/jeromeapis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd">
    <set-property propertyName="MULE_ENCODING" value="UTF-8" doc:name="Property" />
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="api.map.baidu.com" basePath="/place/v2/" doc:name="HTTP Request Configuration" port="80">
        <http:raml-api-configuration location="baidu_map.raml"/>
    </http:request-config>
    <http:request-config name="HTTP_Request_Configuration1" host="api.map.baidu.com" port="80" basePath="/location" doc:name="HTTP Request Configuration"/>
    <db:oracle-config name="Oracle_Configuration" host="10.100.40.209" port="1521" instance="XE" user="vtm" password="vtm" doc:name="Oracle Configuration"/>
    <flow name="know-allFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/*" metadata:id="a0ecafc4-2006-4bb9-a86a-eda7b95cdfc4" doc:name="HTTP" parseRequest="false">
            <http:response-builder>
                <http:header headerName="output" value="json"/>
                <http:header headerName="charset" value="utf-8"/>
            </http:response-builder>
        </http:listener>
        <logger message="InboundLog #[message.id] #[message.inboundProperties.'http.request.path']" level="INFO" doc:name="InboundLogger"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.request.path'=='/ditu/search']">
                <http:request config-ref="HTTP_Request_Configuration" path="/search" method="GET" doc:name="RegionSearchHTTP">
                    <http:request-builder>
                        <http:uri-param paramName="q" value="#[message.inboundProperties.'http.query.params'.q]"/>
                        <http:uri-param paramName="ak" value="9bP9TvRkA0FERGqgTTHObVEA8KCqviuz"/>
                        <http:uri-param paramName="region" value="#[message.inboundProperties.'http.query.params'.region]"/>
                        <http:uri-param paramName="output" value="json"/>
                    </http:request-builder>
                </http:request>
                <logger message="BaiDuLog #[message.id] #[message.inboundProperties.'http.query.params']" level="INFO" doc:name="BaiDuLogger"/>
            </when>
            <when expression="#[message.inboundProperties.'http.request.path'=='/location/ip']">
                <http:request config-ref="HTTP_Request_Configuration1" path="/ip" method="GET" doc:name="IPLocation">
                    <http:request-builder>
                        <http:query-param paramName="ak" value="9bP9TvRkA0FERGqgTTHObVEA8KCqviuz"/>
                        <http:query-param paramName="coor" value="bd09ll"/>
                        <http:query-param paramName="ip" value="#[message.inboundProperties.'http.query.params'.ip]"/>
                    </http:request-builder>
                </http:request>
            </when>
            <when expression="#[message.inboundProperties.'http.request.path'=='/db']">
                <db:select config-ref="Oracle_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[select * from VTMPROFILE]]></db:parameterized-query>
                </db:select>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <when expression="#[message.inboundProperties.'http.request.path'=='/upload']">
                <ftp:outbound-endpoint host="10.100.40.209" port="21" path="/" user="vtm_share" password="vtm_share" responseTimeout="10000" doc:name="FTP"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;error&quot;:404,&quot;msg&quot;:&quot;not support&quot;}" encoding="UTF-8" mimeType="application/json" doc:name="notSupport"/>
            </otherwise>
        </choice>
    </flow>
</mule>
